body {
  display: flex;
  background-color: rgb(223, 214, 203);
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1496px;
}

section {
  background-color: aliceblue;
  -webkit-box-shadow: -2px 3px 19px 0px rgb(116, 122, 122);
  -moz-box-shadow: -2px 3px 19px 0px rgb(116, 122, 122);
  box-shadow: -2px 3px 19px 0px rgb(116, 122, 122);
  border-style: solid;
  border-color: #0f0101;
  border-radius: 10px;
  min-height: 440px;
}

h1 {
  text-align: center;
}

/*Moulo 01*/

#Module_01 {
  min-width: 432px;
  padding: 0px 15px 0px 15px;
}

#Module_01 h1 {
  margin-bottom: none;
}
.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20%;
}
/*Moulo 03*/

#Modulo_03 {
  padding: 0px 15px 0px 15px;
  text-align: center;
  max-width: 460px;
}

#Modulo_03 p {
  text-align: left;
}

.mape-head-1 {
  grid-area: head1;
}
.mape-head-2 {
  grid-area: head2;
}
.mape-head-3 {
  grid-area: head3;
}

.mape-middle-1 {
  grid-area: midle1;
}
.mape-middle-2 {
  grid-area: midle2;
}
.mape-middle-3 {
  grid-area: midle3;
}

.mape-bottle-1 {
  grid-area: bottle1;
}
.mape-bottle-2 {
  grid-area: bottle2;
}
.mape-bottle-3 {
  grid-area: bottle3;
}

.display-grid-mape {
  display: grid;
  object-fit: contain;
  gap: 5px;
  grid-template-areas:
    "head1 head2 head3"
    "midle1 midle2 midle3"
    "bottle1 bottle2 bottle3";
}

/*Moulo 04*/

#Module_04 {
  padding: 0px 15px 0px 15px;
  text-align: center;
  min-width: 440px;
  margin: 0px;
}

#Module_04 ul {
  padding-right: 20px;
}

.carinhas,
.objetos {
  border: solid #333;
  border-radius: 10px;
  max-width: 210px;
  padding: 5px;
}

.carinhas {
  margin-right: 10px;
}

.display-flex-emoji {
  display: flex;
}
/* Modulo 5*/

#personal_site {
  min-width: 99.5%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 22px;
}

#personal_site h1 {
  min-width: 100%;
}
#personal_site .flex {
  display: flex;
  flex-wrap: wrap;
}

#personal_site,
.information,
.links {
  height: 340px;
  width: 700px;
  margin-left: 5px;
}

.information {
  display: flex;
  align-items: center;
}

.information img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid #333;
  margin: 10px;
}

.content {
  padding: 20px;
}

.links h2 {
  text-align: center;
}

.links ul {
  margin-top: 80px;
  margin-left: 20px;
}

/*Section flexivel Module 7*/

.flexivel {
  max-width: 980px;
  max-height: 440px;
  min-width: 460px;
  width: 100%;
  resize: horizontal;
  overflow: auto;
  padding: 10px;
  margin-top: 22px;
}

#image-flex {
  display: flex;
  justify-content: center;
}
.flexivel #image-flex > img {
  max-height: 332px;
}

/*Section Tags Module 6*/
.tags {
  margin-top: 22px;
  max-width: 460px;
  padding: 10px;
  margin-top: 22px;
}

.tags li {
  cursor: pointer;
}

/*Section Tags Module 8*/

.navegacao {
  max-width: 460px;
  padding: 10px;
  background-color: #d3d3d3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-top: 22px;
}

.navegacao ul li > a {
  color: rgb(20, 5, 233);
}

.verde,
.amarelo {
  width: 460px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  position: fixed;
  padding: 10px;
}

/*Section Tags Module 9*/

.videos {
  padding: 10px;
  max-width: 460px;
  margin-top: 22px;
}

#flex-img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-top: 15px;
}

#flex-img img {
  margin-top: 2px;
  margin-left: 5px;
  transition: transform 330ms ease-in-out;
}

#flex-img img:hover{
  transform: scale(1.1);
}

/*Phanton Section*/
#phanton{
  width: 460px;
  margin-top: 22px;
  visibility: hidden;
}