/*- colors for the site
head gradiente #217446 to #37C777 
Tittles #8AAC99
background #84E1AD
-*/
@font-face{
    font-family: 'gustavoFonte';
    src: url('fontes/idroid.otf') format('opentype')
    , url('fontes/idroid.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'coolvetica';
    src: url('fontes/coolvetica\ condensed\ rg.otf') format('opentype')
    , url('fontes/coolvetica\ condensed\ rg.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #84E1AD;
    font-family: 'coolvetica', Helvetica, sans-serif;
    margin: 0%;

}
/* Setting header */
header{
    background-image: linear-gradient(to top, #124127, #3bd882 );
    color: rgba(255, 255, 255, 0.788);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.473);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.521);
}
header>h1{
    margin:  auto;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    
}
header>p{
    text-align: center;
    font-size: 17px;
}
nav>ul{
    list-style: none;
    padding: 10px 0px;
}

nav>ul li{
    display: inline;
    margin: 10px;   
}

li:hover{
    color: #3bd882;
}

/*Setting up the main page*/
main{
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 0px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.411);
    border-radius: 4px;
}
section{
    margin: 10px;
}
section>h1{
    text-align: center;
}
img{
    width: 90%;
    height: 90%;
    margin: auto;
}
iframe{
    width: 95%;
    margin: auto;
}