*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#AAB0B5, #768591 );
}

main{
    background-color: aliceblue;
    width: 600px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 15px rgba(83, 92, 100, 0.514) ;
    border-radius: 10px;
}

h1{
    color:#DEA800 ;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(167, 125, 0, 0.575);
}

h2{
    color:rgb(105, 121, 129) ;
}

p{
    text-align: justify;
}